$darkGrey: #414141;
@value darkGrey: #414141;

$midGrey: #6e6e6e;
@value midGrey: #6e6e6e;

$lightGrey: #c3c3c3;
@value lightGrey: #c3c3c3;

$subduedGrey: #9f9f9f;
@value subduedGrey: #9f9f9f;

$white: #ffffff;
@value white: #FFFFFF;

$lightGreen: #80ccae;
@value lightGreen: #80ccae;

$darkGreen: #408d44;
@value darkGreen: #408d44;