$darkGrey: #414141;
@value darkGrey: #414141;

$midGrey: #8b8a87;
@value midGrey: #8B8A87;

$lightGrey: #6f6f6f;
@value lightGrey: #6f6f6f;

$subduedGrey: #9f9f9f;
@value subduedGrey: #9f9f9f;

$white: #ffffff;
@value white: #FFFFFF;

$lightGreen: #80ccae;
@value lightGreen: #80ccae;

$darkGreen: #408d44;
@value darkGreen: #408d44;